{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    we Have Variety of products
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div>
  <p class="text-center my_search_text"> Yo have searched for :<b>"{{query}}"</b></p>
</div>
<div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <a href="{{ product.get_url }}">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">{{ product.name }}</h4>
                            <p class="card-text">{{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
            <div  class="row mx-auto">
                <p class="text-center my_search_text"> 0 results found</p>

            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
