.banner {
    background-color:darkslateblue;
    width: 500%;
    height: 200px;
    margin-bottom: 50px;
}

.banner-text {
    top: 50%;
    left: 180%;
    position: absolute;
    transform:transform;
    ]
}
